<h1>Welcome to RubyCell!</h1>
<p>Click the link below to confirm your email address:</p>
<p><%= link_to "Confirm my account", @confirm_url %></p>
<p>Or copy this URL: <%= @confirm_url %></p>
<p>This link won't expire.</p>
